* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url("tlo.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
    background-color: red;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

#loadGiftsButton {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#loadGiftsButton:hover {
    background-color: #2ecc71;
}

.gifts-container {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gift {
    width: 125px;
    height: 125px;
    background-color: green;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.3s ease;
    cursor: pointer;
}

.gift.show {
    opacity: 1;
}

.gift:hover {
    transform: scale(1.1);
}

.gift.opened {
    background-color: orange;
    color: white;
}

footer {
    margin-top: 30px;
    font-size: 14px;
    color: #777;
}

p {
    color: white;
}

